.image {
  border-style: solid;
  border-color: #bfc1c1;
  border-width: 1px;
  height: 76px;
  width: 76px;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
}

.image:hover {
  border-color: #000000;
}

.image[value="true"] {
  border-color: #000000;
  border-width: 2px;
  height: 75px;
  width: 75px;
}

.image:active {
  border-color: #2B87BE;
}