.root {
  background-color: #F7F7F7
}

.gallery {
  display: inline-flex;
  align-items: center;
  margin-right: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.profileImage {
  margin-bottom: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button {
  color: #1276CA;
  font-weight: bold;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  width: 8px;
}

.button#prev[value="0"] {
  color: #C5C5C5;
}

.button#next[value="0"] {
  color: #C5C5C5;
}
